{% extends "padre.html" %}

{% block header %}
<h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a la pagina donde puedes comprar y vender camisetas de futbol</h1>
<p class="lead text-white-50 mb-4">Encuentra tus camisetas favoritas o vende las tuyas</p>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Registro' %}">Registrate</a>
    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'Login' %}">Inicia Sesion</a>
{% endblock %}
